.container{
    font-family: Arial, Helvetica, sans-serif;
    background-color: blueviolet;
    display: flex;
}

.demo{
    gap: 15px;
    padding: 20px;
    background-color: aqua;

}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border: 1px solid aqua;
    border-radius: 5px;
    transition: background-color 1s, transform 1s;
}

.fizz:hover{
    background-color: beige;
}

.buzz:hover{
    transform: translateY(-5px) ;
}

.fizzbuzz:hover{
    transform: rotate(5deg);
}

.juan{
    background-color: brown;
}